:root{
  --marine_blue :#02295a;
  --cyan_light :#f3f4f8; 
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  background-color: #eef0fb;
}
form::-webkit-scrollbar, form div::-webkit-scrollbar{
  display: none;
}
.line-normal{
  line-height: 2rem;
}
/* this classes styling divs or span to show images */
.img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img_2{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.principal_image{
  background-image: url(../../assets/bg-sidebar-desktop.svg);
  height: 80vh;
  width: 200px;
}
/* this are icons of plans on steps */
.arcade{
  background-image: url(../../assets/icon-arcade.svg);
}
.advanced{
  background-image: url(../../assets/icon-advanced.svg);
}
.pro{
  background-image: url(../../assets/icon-pro.svg);
}
.focus_button{
  background-color: #bfe2fd;
}
.form-Container{
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  top: 9rem;
  left: calc(50% - 40vw);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.515) 1px 1px 10px 0px ;
}
.main--all-container{
  height: 80vh;
}
.buttons-container{
  left:0;
  top: 2rem ;
  position: absolute;
}


@media (max-width:700px) {
  .buttons-container{
    left: calc(50% - 150px);
    top: 2rem ;
    position: absolute;
  }
  .principal_image{
    background-image: url(../../assets/bg-sidebar-mobile.svg);
    height: 200px;
    width: 100vw;
  }
  .main--all-container{
    height: 100%;
  }
  .form-Container{
    width: 90%;
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    top: 9rem;
    left: calc(50% - 45%);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.515) 1px 1px 10px 0px ;
  }
}
